.DS_Store
.emacs
.gemrc
.htaccess
.ftpquota
.RevClean
.zshrc
a.php
ace.php
check.txt
google9c9cc4c87dab8614.html
googleece607aa95bb555c.html
setup.php
wawa.php
.bash_logout
.bash_profile
.bashrc
.contactemail
cgi-bin/*
